{% extends 'browser/base.html' %}

{% block title %} About | {{ block.super }} {% endblock %}

{% block breadcrumbs-container %}{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-8">
	<h2 id="data">About the data</h2>

	<h3>Salary scales</h3>
	<p>The university publishes <a href="http://www.ucop.edu/academic-personnel-programs/_files/1617/t1.pdf">salary guidelines</a> for professors that incorporate their "rank" — from lowest to highest: assistant professor, associate professor or "full" professor — and provide additional guidance based on the time a person has spent at that rank.</p>
	<p>But compensation decisions are largely discretionary, and an individual's year-to-year pay often doesn't follow the progression laid out in the salary scales.</p>
	<p>"Generally, a number of factors influence the individual salary data in UC’s database, including the employee’s position, performance, scope of responsibilities, knowledge, experience, duration of employment at UC, and whether it is a full-time or part-time appointment, summer salary, or approved additional compensation, among other considerations," said UC spokesperson Claire Doan in an email.</p>
	<p>This means professor salaries might decrease from year to year, or increase dramatically, even at the same rank.</p>
	<p>In particular, salaries for part-time lecturers can be pro-rated based on the amount of time they spend teaching, Doan said. This explains why salaries for part-time lecturers can be a few thousand dollars while those for full-time, senior lecturers can be over $250,000.</p>

	<h3 id="caveats">Caveats</h3>
	<p>We're only analyzing professors, assistant professors, associate professors and lecturers. We've dropped information about administrators, deans, adjunct professors, lecturers for the summer session and more. We couldn't associate all faculty members with a department, and we've chosen to exclude those people from this website (they're still available in our <a href="https://github.com/dailycal-projects/ucb-faculty-salary/tree/master/data">processed data</a>).</p>
	<p>Also, a professor's salary can vary year-to-year based on the portion of time they spend on campus; some salaries are based on the academic year, and some on the fiscal year. Making departmental comparisons is especially difficult because some departments may have more experienced professors who would consequently be paid more.</p>
	<p>Another technical note: in all cases, we're examining the faculty member's gross salary, the total amount they were paid by the university. Their base salary might be less.</p>
	<p>Finally, we've merged salary and departmental information by matching the first and last names of faculty members. That automatic process might fail for people with similar names. If you spot an error, <a href="mailto:projects@dailycal.org">let us know</a>.</p>

	<hr>

	<h2 id="project">About this project</h2>

	<h3>Why another salary database?</h3>
	<p>The university publishes employee pay data on <a href="https://ucannualwage.ucop.edu/wage/">its website</a> annually. But it doesn't have information on professors' and lecturers' departmental affiliations, and it's not easy to trace a person's salary over multiple years.</p>
	<p>We merged data from 2010 to 2015 from the university with 2005 to 2009 pay data from the UC Berkeley library. Then, we added information about departmental affiliations, where available. The result is the most complete public, downloadable database of pay information for UC Berkeley faculty.</p>

	<h3 id="download">Download and contribute</h3>
	<p>We're publishing the raw data and code used to create this database for journalists and researchers. Our pipeline can be used to analyze data from other campuses or even for other positions within the university — for example, administrators or athletic personnel.</p>
	<p>This project is a work in progress. You can read more details and contribute <a href="https://github.com/dailycal-projects/ucb-faculty-salary">on GitHub.</a></p>
</div>
</div>
{% endblock %}