<h2 id="about-data">About the data</h2>

<p>Salary scales for faculty on the professor track incorporate "rank" — assistant professor, associate professor and "full" professor, from lowest to highest — and "step," the time a person has spent at that rank. For example, according to the <a href="http://www.ucop.edu/academic-personnel-programs/_files/1617/t1.pdf">2016 university salary scale</a>, there are six two-year steps at the assistant professor rank before the associate professor rank.</p>

<p>But compensation decisions are largely discretionary, and faculty members rarely spend 12 years as assistant professors. Take Pieter Abbeel, who was promoted to associate professor after six years.</p>

<h3 id="caveats">Caveats</h3>
<p>We're only analyzing professors, assistant professors, associate professors and lecturers. We've dropped information about administrators, deans, adjunct professors, lecturers for the summer session and more. We couldn't associate all faculty members with a department, and we've chosen to exclude those people from this website (they're still available in our <a href="https://github.com/dailycal-projects/ucb-faculty-salary/tree/master/data">processed data</a>).</p>
<p>Also, a professor's salary can vary year-to-year based on the portion of time they spend on campus; some salaries are based on the academic year, and some on the fiscal year. Making departmental comparisons is especially difficult because some departments may have more experienced professors who would consequently be paid more.</p>
<p>Another technical note: in all cases, we're examining the faculty member's gross salary, the total amount they were paid by the university. Their base salary might be less.</p>
<p>Finally, we've merged salary and departmental information by matching the first and last names of faculty members. That automatic process might fail for people with similar names. If you spot an error, <a href="mailto:projects@dailycal.org">let us know</a>.</p>

<hr>

<h2 id="about-project">About this project</h2>

<h3>Why another salary database?</h3>
<p>The university publishes employee pay data on <a href="https://ucannualwage.ucop.edu/wage/">its website</a> annually. But it doesn't have information on professors' and lecturers' departmental affiliations, and it's not easy to trace a person's salary over multiple years.</p>
<p>We merged data from 2010 to 2015 from the university with 2005 to 2009 pay data from the UC Berkeley library. Then, we added information about departmental affiliations, where available. The result is the most complete public, downloadable database of pay information for UC Berkeley faculty.</p>

<h3 id="download">Download and contribute</h3>
<p>We're publishing the raw data and code used to create this database for journalists and researchers. Our pipeline can be used to analyze data from other campuses or for other positions within the university — for example, administrators or athletic personnel.</p>
<p>This project is a work in progress. You can read more details and contribute <a href="https://github.com/dailycal-projects/ucb-faculty-salary">on GitHub.</a></p>