{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Faculty Pay | The Daily Californian{% endblock %}</title>
    {% block meta %}
        <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
        <meta charset="utf-8" />
        <meta name="description" content="{% block description %}The most complete open-source database of UC Berkeley faculty salaries.{% endblock %}" />
        <meta name="keywords" content="{% block keywords %}dailycal, Daily Californian, Daily Cal, faculty, salary, pay, compensation, payroll, database, open-source{% endblock %}" />
        <link rel='shortcut icon' href='http://www.dailycal.org/assets/uploads/2012/02/favicon.png'/>
        {% block viewport %}<meta name="viewport" content="width=device-width, initial-scale=1.0">{% endblock %}
        {% block extra-meta %}{% endblock %}
    {% endblock %}

    {% block css %}
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/scroller/1.4.2/css/scroller.bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'browser/css/style.css' %}"/>
    {% endblock %}
    {% block js %}
    <script src="{% static 'browser/js/jquery.min.js' %}"></script>
    <script src="{% static 'browser/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'browser/js/fa.js' %}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.12/sc-1.4.2/datatables.min.js"></script>
    <script src="//www.dailycal.org/google-analytics-js/" type="text/javascript"></script>
    {% endblock %}
</head>
<body>
    {% block navbar %}
    <nav class="navbar navbar-dc navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="{% url 'home' %}" class="navbar-brand">the Daily Californian</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'home' %}">Faculty pay</a></li>
            </ul>
            <div class="hidden-xs">
                <ul class="nav navbar-nav pull-right">
                  <li class="nav-link"><a href="https://www.facebook.com/sharer/sharer.php?u=projects.dailycal.org/faculty-pay/"><i class="fa fa-lg fa-facebook"></i></a></li>
                  <li class="nav-link"><a href="https://twitter.com/intent/tweet?url=projects.dailycal.org%2Ffaculty-pay&via=dailycal&text=Faculty%20Pay%20Database&"><i class="fa fa-lg fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}
    {% block top %}{% endblock %}
    {% block container %}
    <div class="container">
        {% block breadcrumbs-container %}
        <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <ol class="breadcrumb">
                {% block breadcrumbs %}{% endblock %}
            </ol>
        </div>
        </div>
        {% endblock %}
        {% block content %}{% endblock %}
    </div>
    {% endblock %}
    <footer class="footer">
      <div class="container">
        <p>Questions, comments or corrections? Email <a href="mailto:projects@dailycal.org">projects@dailycal.org</a>. Data and code is open-source on <a href="https://github.com/dailycal-projects">GitHub</a>. <br>
        Support innovative, independent student journalism. <a href="https://donate.dailycal.org/">Donate today.</a> <br>
        Copyright © 2016 The Daily Californian, The Independent Berkeley Student Publishing Co., Inc.</p>
      </div>
    </footer>
    {% block extra-js %}{% endblock %}
</body>
</html>