{% extends 'browser/base.html' %}

{% block title %} Context | {{ block.super }} {% endblock %}

{% block breadcrumbs-container %}{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-8">
	<h2>Departmental disparities</h2>

	<p>Last year, more than 15 members of the UC Berkeley <a href="{% url 'department_detail' 'economics' %}">economics department</a> faculty were paid more than $300,000. Not a single faculty member who teaches solely in the <a href="{% url 'department_detail' 'ethnic-studies' %}">ethnic studies department</a> made more than $200,000. The chair of the <a href="{% url 'department_detail' 'rhetoric' %}">rhetoric department</a> earned only $135,000.</p>

	<p>Disparities in faculty pay between UC Berkeley departments reflect a national trend. Universities across the country pay professors and lecturers of business, economics, law and engineering far more than faculty in the humanities and social sciences. Still, the differences at UC Berkeley are striking.</p>

	<p>Take, for example, <a href="{% url 'person_detail' 'sanjam-garg' %}">Sanjam Garg</a>, an assistant professor of computer science who was paid about $210,000 in 2015, his second year at UC Berkeley. Assistant professors are of lower rank than associate professors and full professors. But Garg made more last year than <a href="{% url 'person_detail' 'shari-huhndorf' %}">Shari Huhndorf</a>, the chair of the ethnic studies department, who was paid about $180,000.</p>

	<p>In the 1980s, the university established <a href="http://www.ucop.edu/academic-personnel-programs/compensation/2016-17-academic-salary-scales.html">salary scales</a> for business and engineering professors that were different from those for professors in other departments, according to a <a href="http://vpf.berkeley.edu/sites/default/files/Equity%20Study%20Report%20final%201-26-15%20--revised.pdf">campus report</a>. Today, a faculty member at the full professor rank can expect to be paid at least $86,800 — unless they teach business, economics or engineering, in which case the salary guideline is $106,700. A law professor can expect at least $146,200.</p>

	<p>In the early 2000s, the budget committee of the Academic Senate "accepted the reality of disciplinary market forces and described salary equity in terms relativized to discipline," according to the report.</p>

	<p>But faculty are often paid above the salary scales published by the university. <a href="{% url 'person_detail' 'shachar-kariv' %}">Shachar Kariv</a>, the chair of the economics department, was paid $508,000 last year, making him the highest-paid professor at UC Berkeley. More than 15 other faculty members were paid more than $400,000. All but two of them were in the economics, business or law departments.</p>

	<p>According to the campus report, current salary practices are necessary for recruiting and keeping faculty. Without them, UC Berkeley would be "unable to recruit as successfully as it has; the campus would lose many valued colleagues to other universities; and other universities would step up their efforts to recruit faculty away from Berkeley," the report said.</p>

	<p>Salaries at UC Berkeley lag behind those of private institutions, though the gap is larger for faculty at many other public schools. According to a <a href="https://www.aaup.org/reports-publications/2014-15salarysurvey">report</a> from the American Association of University Professors, the average salary of full professors at UC Berkeley for the 2014-15 academic year was about $173,000, while the average across private universities without religious affiliation was about $178,000. At Stanford University, the average salary was about $224,000, while the average for full professors at public universities was about $130,000.</p>

	<p>"The UC salary scales are not salary guidelines, rather they indicate the minimum salary that can be paid based on a professor’s rank and, loosely, amount of experience," said Benjamin Hermalin, the campus vice provost for the faculty, in an email. "It has been long recognized by the Office of the President and others that the salary scales are seriously below market."</p>
</div>
</div>
{% endblock %}