{% extends 'browser/base.html' %}
{% load humanize %}

{% block title %} Departments | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url 'home' %}#database">Database</a></li>
<li class="active">Departments</li>
{% endblock %}

{% block content %}
	<div class="row">
	<div class="col-md-8">
		<section>
		<h2>Average salary by department, 2015</h2>
		<p>Faculty members are compensated according to, among other factors, the length of their tenure at the university. Because departments are composed of faculty members with varying levels of experience, salary differences between departments — even within a particular title category — are not due exclusively to the academic discipline itself.</p>

		<p>These averages reflect only the faculty members we've chosen to analyze. That list is not exhaustive. <a href="{% url 'home' %}#caveats">Read more about our analysis.</a></p>
		</section>
	</div>
	</div>

	<div class="row">
	<div class="col-md-12">
		<section>
		<table id="department-list" class="table table-striped">
		<thead>
		<tr>
			<th>Department</th>
			<th width=16% class="right">All</th>
			<th width=16% class="right">Professor</th>
			<th width=16% class="right">Associate professor</th>
			<th width=16% class="right">Assistant professor</th>
			<th width=16% class="right">Lecturer</th>
		</tr>
		</thead>
		<tbody>
		{% for d in object_list %}
		{% if d.canonical and d.avg_salary_2015 > 0 %}
		<tr>
			<td><a href="{% url 'department_detail' d.slug %}">{{ d.canonical }}</a></td>
			<td class="right">${{ d.avg_salary_2015|floatformat:"0"|intcomma }}</td>
			<td class="right">{% if d.avg_salary_professor %}${{ d.avg_salary_professor|floatformat:"0"|intcomma }}{% else %} - {% endif %}</td>
			<td class="right">{% if d.avg_salary_associate_professor %}${{ d.avg_salary_associate_professor|floatformat:"0"|intcomma }}{% else %} - {% endif %}</td>
			<td class="right">{% if d.avg_salary_assistant_professor %}${{ d.avg_salary_assistant_professor|floatformat:"0"|intcomma }}{% else %} - {% endif %}</td>
			<td class="right">{% if d.avg_salary_lecturer %}${{ d.avg_salary_lecturer|floatformat:"0"|intcomma }}{% else %} - {% endif %}</td>
		</tr>
		{% endif %}
		{% endfor %}
		</tbody>
		</table>
		</section>
	</div>
	</div>
{% endblock %}

{% block extra-js %}
<script type="text/javascript">
$(document).ready(function() {
    $('#department-list').DataTable( {
    	paging: false,
    	info: false,
    	order: [[1, 'desc']],
    	dom: "<'row'<'col-sm-12'f>>" +
		"<'row'<'col-sm-12'tr>>" +
		"<'row'<'col-sm-5'i><'col-sm-7'p>>",
    });
} );
</script>
{% endblock %}