{% extends 'browser/base.html' %}
{% load humanize %}

{% block breadcrumbs-container %}{% endblock %}

{% block top %}
<div class="top">
	<div class="container">
	<section class="row">
		<div class="col-md-8 col-md-offset-2 text">
			<h1>Sift through professor salaries</h1>
			<p class="byline">By <a href="http://www.dailycal.org/author/schinoy/">SAHIL CHINOY</a> &middot; {% now "N d, Y" %}</p>
			<br>
			<p class="lead center">The Daily Californian processed the last decade of payroll information for UC Berkeley faculty, creating the most complete, searchable database of professor and lecturer pay by campus department.</p>
			<p class="lead center">We're also releasing the data as part of an <a href="{% url 'about' %}#project">open-source effort</a> to make faculty compensation information accessible to journalists and researchers.</p>
			<p class="lead center"><a href="#database">Browse the database</a>, <a href="{% url 'context' %}">read context about departmental disparities</a> or <a href="{% url 'about' %}">find out more about the data</a>.</p>
		</div>
	</section>
	</div>
</div>
{% endblock %}

{% block content %}
	<section id="database" class="row">
		<div class="col-md-10 col-md-offset-1">
			<div style="text-align: center">
				<h2>Browse the database</h2>
				<p><a href="{% url 'department_list' %}">Compare department averages</a>.<br>
				Don't see a professor or lecturer? <a href="{% url 'about' %}#caveats">This might be why</a>.</p>
			</div>
			<br>
			<div id="loading-text" style="text-align: center;"">
				<p class="lead">Loading...</p>
			</div>
			<div id="table-wrapper" class="hidden">
				<table id="person-list" class="table table-striped">
				<thead>
				<tr>
					<th>Name</th>
					<th>Rank</th>
					<th>Department</th>
					<th class="right">Salary (2015)</th>
				</tr>
				</thead>
				<tbody>
				{% for record in object_list|slice:":100" %}
				<tr>
					<td><a href="{% url 'person_detail' record.person.slug %}">{{ record.person.last|title }}, {{ record.person.first|title }}</a></td>
					<td>{{ record.person.latest_record.title_category|title }}</td>
					<td>{% if record.person.directory_record.department_obj.canonical %}<a href="{% url 'department_detail' record.person.directory_record.department_obj.slug %}">{{ record.person.directory_record.department_obj.canonical }}</a>{% endif %}</td>
					<td class="right">${{ record.gross|intcomma }}</td>
				</tr>
				{% endfor %}
				</tbody>
				</table>
			</div>
		</div>
	</section>
{% endblock %}

{% block extra-js %}
<script type="text/javascript">
$(document).ready(function() {
    $('#person-list').DataTable( {
    	scrollY: 400,
    	scroller: true,
    	dom: "<'row'<'col-sm-12'f>>" +
		"<'row'<'col-sm-12'tr>>" +
		"<'row'<'col-sm-5'i><'col-sm-7'p>>",
    	initComplete: function(settings, json) {
    		$('#loading-text').addClass('hidden');
    		$('#table-wrapper').removeClass('hidden');
  		},
    });
} );

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
});
</script>
{% endblock %}