<nav class="navbar navbar-dc navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a href="{% url 'home' %}" class="navbar-brand">the Daily Californian</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'context' %}">Context</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="nav-link"><a href="https://www.facebook.com/sharer/sharer.php?u=projects.dailycal.org/faculty-pay/"><i class="fa fa-lg fa-facebook"></i></a></li>
                <li class="nav-link"><a href="https://twitter.com/intent/tweet?url=projects.dailycal.org%2Ffaculty-pay&via=dailycal&text=Faculty%20Pay%20Database&"><i class="fa fa-lg fa-twitter"></i></a></li>
              </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>