<h2>Departmental disparities</h2>

<p>Last year, over 15 professors in the Economics department at UC Berkeley earned more than $300,000. Not a single professor in the Ethnic Studies department made more than $200,000; the highest paid professor in the Rhetoric department earned only $135,000.</p>

<p>Departmental disparities in faculty pay reflect a market that compensates professors of business, economics, law, public policy and engineering far more than professors of the humanities and social sciences. Still, the differences at UC Berkeley are striking.</p>

<p>Take, for example, Sanjam Garg, an assistant professor of computer science who earned about $210,000 in his second year at UC Berkeley. He earned more than Shari Huhndorf, the chair of the Ethnic Studies department, a full professor who last year earned about $180,000.</p>

<p>The university has established different salary scales for business, economics, engineering and law professors. An entry-level professor can expect to be paid at least $83,000, unless they teach business, economics or engineering, in which case the salary guideline is $101,900. The same professor who teaches law can expect at least $139,900.</p>

<p>Moreover, salaries of UC Berkeley faculty are often above the salary scales published by the university. Shachar Kariv, the chair of the Economics department, earned $507,000 last year, making him the highest-paid professor at UC Berkeley. Sixteen other professors were paid more than $400,000. All but two were in the economics, business or law departments.</p>

<p>However, salaries at UC Berkeley still lag those at private institutions by a significant margin. In 2014, the average salary for a professor at UC Berkeley was about $170,000, while the average at Stanford University was about $220,000, according to the Chronicle of Higher Education.</p>

<p>Nor is professor pay equitable among UC campuses: at UCLA, the average professor salary was about $178,000 in 2014, while at the Santa Cruz campus, it was about $137,000, according to the Chronicle of Higher Education.</p>

<p>“The UC salary scales are not salary guidelines, rather they indicate the minimum salary that can be paid based on a professor’s rank and, loosely, amount of experience,” said Ben Hermalin, the campus vice provost for the faculty, in an email. “It has been long recognized by the Office of the President and others that the salary scales are seriously below market.”</p>